.root {
    display: block;
}

.app
{
    font-size: 2em;
}

.active
{
    text-decoration: underline;
    color: red;
}

.btn
{
    all: inherit;
}

:global body {
    margin: 0;
}

:root {
  --mainColor: red;
}

a {
  color: var(--mainColor);
}
